extends layout

block content

  section(class="container")
    h1 List a new property
    form(name="test-form", action="/" method="post")
      input(type="text", name="title", placeholder="Property Title...")
      textarea(name="description" rows="10" cols="30" placeholder="Description...")
      button(type="submit", value="add") Submit

  section(class="list")
      ul
        each listing in listings
          li
            img(src=listing.img)
            br
            <strong>
            = listing.name
            </strong>
            br
            = listing.text
