extends layout

block content
  section(class="hello")
    h1(id="welcome") Welcome #{name}!
    p Looking for somewhere to stay?
  section(class="container")
    article
      each listing in listings
        div
          h1(class='listing-name')= listing.name
          p(class='listing-text')= listing.text
          button(id='listing-reserve') Reserve

  div(id='reservation' style='hidden')
    h1 Request a booking
    form(name='reservation-submit' action='mailto:hostemail@example.com' method="post" enctype="text/plain")
      textarea(name="request" rows="10" cols="30" placeholder="Contact the host", required='true')
      button(type="submit") Submit request
