extends layout

block content
  section(class="hello")
    h1(id="welcome") Welcome #{name}!
    p Looking for somewhere to stay?
  section(class="container")
    article
      each listing in listings
        div
          h1(class='listing-name')= listing.name
          p(class='listing-text')= listing.text
          button(class='listing-reserve') Reserve

  section(class="container")
    h1 List a new property
    form(name="test-form", action="/" method="post")
      input(type="text", name="title", placeholder="Property Title...")
      textarea(name="description" rows="10" cols="30" placeholder="Description...")
      button(type="submit", value="add") Submit
