doctype html
html
  head
    title Makers BnB
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel="shortcut icon" type="image/png" href="https://us.v-cdn.net/5017598/uploads/editor/gb/n8k1szoz4x20.png")
  body
    nav
      a(class="nav-box" href="/") Makers BnB
      img(src="https://us.v-cdn.net/5017598/uploads/editor/gb/n8k1szoz4x20.png")
      section(class="nav-box")
        a(class="button" href="/") List a property
        a(class="button" href="/sessions/new") Sign in
    block content
