@import "color"

form
  display: flex
  align-items: center
  flex-direction: column
  font-size: 1.4em
  margin-top: 2em

  input
    width: 100%
    border-radius: 5px
    border: $black solid 1px
    padding: 1em
    margin-bottom: 2em
    box-shadow: none

  textarea
    width: 100%
    padding: 1em
    margin-bottom: 2em
    border: $black solid 1px
    border-radius: 5px
    resize: none

button
    background-color: $grey
    color: $black
    font-size: 12px
    text-align: center
    position: relative
    border-radius: 100px
    border: 1px solid $grey
    box-shadow: none
    padding: 6px 16px
    margin-left: 16px
